{% extends 'user_dashboard_base.html' %}

{% block title %}Add Money {% endblock %}

{% block body %}


    <div class="container-fluid">

        <div class="row mt-5">
            <div class="col-md-8 offset-2">
                <div class="card card-bg card-shadow text-white mb-5">
                    <div class="row mt-5 mb-3">
                        <div class="col-md-9 offset-1">
                            <h4>Money | <small>Add Money</small></h4>
                            <hr>
                        </div>
                    </div>

                    {% if messages %}
                        <div class="row">
                            <div class="offset-md-2 col-md-6">
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                                        <button type="button" class="close" data-dismiss="alert">X</button>
                                        <p>{{ message }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}


                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group {% if form.account.errors %}has-error{% endif %}">
                            <label class="col-md-3 offset-1">{{ form.account.label }} <span class="text-danger required-field">*</span></label>
                                <div class="col-md-9 offset-1">
                                    {{ form.account }}
                                    {% if form.account.errors %}
                                        <div class="help-block">{{ form.account.errors }}</div>
                                    {% endif %}
                                </div>
                        </div>

                        <div class="form-group {% if form.amount.errors %}has-error{% endif %}">
                            <label class="col-md-3 offset-1">{{ form.amount.label }} <span class="text-danger required-field">*</span></label>
                                <div class="col-md-9 offset-1">
                                    {{ form.amount }}
                                    {% if form.amount.errors %}
                                        <div class="help-block">{{ form.amount.errors }}</div>
                                    {% endif %}
                                </div>
                        </div>

                        <div class="form-group">
                            <div class="offset-md-1 col-md-3">
                                <button type="submit" name="submit" class="mt-4 btn btn-primary btn-block border-0 button-bg">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}