{% extends 'user_dashboard_base.html' %}
{% load money_tags %}

{% block title %}Accounts List {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mt-3">
        {% if transaction_period.is_closed %}
            <div class="col-12">
                <h3 class="text-center">Accounts List</h3>
            </div>
        {% else %}
            <div class="col-8">
                <h3 class="text-center">Accounts List</h3>
            </div>

            <div class="col-4">
                <div class="float-right">
                    <a href="{% url 'money:add_account' %}" class="btn btn-sm btn-primary">New Account</a>
                    <a href="{% url 'money:add_money' %}" class="btn btn-sm btn-success">Add Money</a>
                </div>
            </div>
        {% endif %}

    </div>

    {% if messages %}
        <div class="row">
            <div class="offset-2 col-md-6">
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">X</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if accounts %}
        <div class="row">
            {% for account in accounts %}
                <div class="col-md-4">
                    <a href="#" class="text-decoration-none">
                        <div class="card card-shadow card-bg1 mt-3 ml-3 mb-3 text-center text-white">
                            <div class="card-body">
                                <h3>{{ account.account_name }}</h3>
                                <h5 class="lead">{{ account.account_type }}</h5>
                                {% if transaction_period.is_closed %}
                                    <p class="text-white">RS. {% get_money_close_transaction_account account.id %}</p>
                                {% else %}
                                    <p class="text-white">RS. {% get_money_active_transaction_account account.id %}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 offset-1 text-left">
                <h3>Total Balance</h3>
                {% if transaction_period %}
                    <p>Transaction Period: <strong>{{ transaction_period.name }}
                        {% if transaction_period.is_closed %} (Closed){% endif %}</strong>
                    </p>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                {% if total_amount.total > 0 %}
                    <h3>RS. {{ total_amount.total }}</h3>
                {% else %}
                    <h3>RS. 0</h3>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h3 class="text-center mt-5 pt-5">No accounts Found</h3>
        <ul>
            <li>Create New account using <strong>New Account</strong> button on the top right.</li>
            <li><strong>Add money</strong> in the created account.</li>
        </ul>
    {% endif %}
</div>

{% endblock %}