{% extends 'user_dashboard_base.html' %}

{% block title %}Accounts List {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-8">
            <h3 class="text-center">Accounts List</h3>
        </div>

        <div class="col-4">
            <div class="float-right">
                <a href="{% url 'money:add_account' %}" class="btn btn-sm btn-primary">New Account</a>
                <a href="{% url 'money:add_money' %}" class="btn btn-sm btn-success">Add Money</a>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="row">
            <div class="offset-2 col-md-6">
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">X</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if account_list_with_money %}
        <div class="row">
            {% for account in account_list_with_money %}
                <div class="col-md-4">
                    <a href="#" class="text-decoration-none">
                        <div class="card card-shadow card-bg1 mt-3 ml-3 mb-3 text-center text-white">
                            <div class="card-body">
                                <h3>{{ account.account }}</h3>
                                <h5 class="lead">{{ account.account.account_type }}</h5>
                                {% if account.amount %}
                                    <p class="text-white">RS. {{ account.amount }}</p>
                                {% else %}
                                    <p class="text-white">RS. 0</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 offset-1 text-left">
                <h3>Total Balance</h3>
                {% if transaction_period %}
                    <p>Transaction Period: <strong>{{ transaction_period.name }}</strong></p>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                <h3>RS. {{ sum_money.total }}</h3>
            </div>
        </div>
    {% else %}
        <h5 class="m-5">The accounts information will show up here after an account is created and money is added!</h5>
    {% endif %}
</div>

{% endblock %}