{% extends 'pdf_base.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center p-3">Expense Report for {{ transaction_period }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><b>From:</b> {{ transaction_period.start_date }}, <b>To:</b> {{ transaction_period.end_date }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Date</th>
                            <th>Account</th>
                            <th>Description</th>
                            <th>Amount (RS.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expense %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ expense.created_at }}</td>
                                <td>{{ expense.account }}</td>
                                <td>{{ expense.description }}</td>
                                <td>{{ expense.expense_amount }}</td>
                            </tr>
                        {% endfor %}
                            <tr class="font-weight-bold">
                                <td colspan="4">Total:</td>
                                <td>RS. {{ total_expense.expense_amount__sum }}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}